
[Desktop Entry]
Encoding=UTF-8
Name=PackageKit Update Applet
Name[as]=PackageKit উন্নয়ন এপ্লেট
Name[bg]=Аплет за обновяване към PackageKit
Name[bn_IN]=PackageKit আপডেট অ্যাপ্লেট
Name[ca]=Miniaplicació d'actualitzacions del PackageKit
Name[cs]=Aktualizační applet PackageKit
Name[cy]=Rhaglennig Diweddaru PackageKit
Name[da]=Opdateringspanelprogram til PackageKit
Name[de]=PackageKit Aktualisierungs-Applet
Name[el]=Μικροεφαρμογή ενημερώσεων PackageKit
Name[en_GB]=PackageKit Update Applet
Name[es]=Miniaplicación de actualización de Packagekit
Name[fi]=PackageKit-päivityssovelma
Name[fr]=Applet de mise à jour PackageKit
Name[gl]=Miniaplicación de actualización do PackageKit
Name[gu]=PackageKit સુધારો એપલેટ
Name[he]=יישומון העדכונים של PackageKit
Name[hi]=PackageKit अद्यतन एप्लेट
Name[hu]=PackageKit frissítő
Name[it]=Applet di aggiornamento PackageKit
Name[ja]=PackageKit 更新アプレット
Name[kn]=PackageKit ಅಪ್‌ಡೇಟ್ ಆಪ್ಲೆಟ್
Name[ko]=패키지킷 업데이트 어플릿
Name[ml]=പാക്കേജ്കിറ്റ് പരിഷ്കരണ ആപ്ലെറ്റ്
Name[mr]=PackageKit अद्ययावत ऍपलेट
Name[nb]=Panelprogram for oppdatering med PackageKit
Name[or]=PackageKit ଅଦ୍ୟତନ ଆପଲେଟ
Name[pa]=ਪੈਕੇਜ-ਕਿੱਟ ਅੱਪਡੇਟ ਐਪਲਿਟ
Name[pl]=Aplet aktualizacji PackageKit
Name[pt]=Applet de Actualização do PackageKit
Name[pt_BR]=Miniaplicativo de atualização do PackageKit
Name[ro]=Miniaplicație de actualizare PackageKit
Name[ru]=Апплет обновлений PackageKit
Name[sv]=Panelprogram för PackageKit-uppdateringar
Name[ta]=PackageKit மேம்படுத்தல் ஆப்லெட்
Name[te]=PackageKit నవీకరణము ఆప్లెట్
Name[tr]=PackageKit Güncelleme Uygulaması
Name[uk]=Аплет оновлень PackageKit
Name[zh_CN]=PackageKit 更新小应用程序
Name[zh_HK]=PackageKit 更新面板程式
Name[zh_TW]=PackageKit 更新面板程式
GenericName=PackageKit Update Applet
GenericName[as]=PackageKit উন্নয়ন এপ্লেট
GenericName[bg]=Аплет за обновяване към PackageKit
GenericName[bn_IN]=PackageKit আপডেট অ্যাপ্লেট
GenericName[ca]=Miniaplicació d'actualitzacions del PackageKit
GenericName[cs]=Aktualizační applet PackageKit
GenericName[cy]=Rhaglennig Diweddaru PackageKit
GenericName[da]=Opdateringspanelprogram til PackageKit
GenericName[de]=PackageKit Aktualisierungs-Applet
GenericName[el]=Μικροεφαρμογή ενημερώσεων PackageKit
GenericName[en_GB]=PackageKit Update Applet
GenericName[es]=Miniaplicación de actualización de Packagekit
GenericName[fi]=PackageKit-päivityssovelma
GenericName[fr]=Applet de mise à jour PackageKit
GenericName[gl]=Miniaplicación de actualización do PackageKit
GenericName[gu]=PackageKit સુધારો એપલેટ
GenericName[he]=יישומון העדכונים של PackageKit
GenericName[hi]=PackageKit अद्यतन एप्लेट
GenericName[hu]=PackageKit frissítő
GenericName[it]=Applet di aggiornamento PackageKit
GenericName[ja]=PackageKit 更新アプレット
GenericName[kn]=PackageKit ಅಪ್‌ಡೇಟ್ ಆಪ್ಲೆಟ್
GenericName[ko]=패키지킷 업데이트 어플릿
GenericName[ml]=പാക്കേജ്കിറ്റ് പരിഷ്കരണ ആപ്ലെറ്റ്
GenericName[mr]=PackageKit अद्ययावत ऍपलेट
GenericName[nb]=Panelprogram for oppdatering med PackageKit
GenericName[or]=PackageKit ଅଦ୍ୟତନ ଆପଲେଟ
GenericName[pa]=ਪੈਕੇਜ-ਕਿੱਟ ਅੱਪਡੇਟ ਐਪਲਿਟ
GenericName[pl]=Aplet aktualizacji PackageKit
GenericName[pt]=Applet de Actualização do PackageKit
GenericName[pt_BR]=Miniaplicativo de atualização do PackageKit
GenericName[ro]=Miniaplicație de actualizare PackageKit
GenericName[ru]=Апплет обновлений PackageKit
GenericName[sv]=Panelprogram för PackageKit-uppdateringar
GenericName[ta]=PackageKit மேம்படுத்தல் ஆப்லெட்
GenericName[te]=PackageKit నవీకరణము ఆప్లెట్
GenericName[tr]=PackageKit Güncelleme Uygulaması
GenericName[uk]=Аплет оновлень PackageKit
GenericName[zh_CN]=PackageKit 更新小应用程序
GenericName[zh_HK]=PackageKit 更新面板程式
GenericName[zh_TW]=PackageKit 更新面板程式
Comment=PackageKit Update Applet
Comment[as]=PackageKit উন্নয়ন এপ্লেট
Comment[bg]=Аплет за обновяване към PackageKit
Comment[bn_IN]=PackageKit আপডেট অ্যাপ্লেট
Comment[ca]=Miniaplicació d'actualitzacions del PackageKit
Comment[cs]=Aktualizační applet PackageKit
Comment[cy]=Rhaglennig Diweddaru PackageKit
Comment[da]=Opdateringspanelprogram til PackageKit
Comment[de]=PackageKit Aktualisierungs-Applet
Comment[el]=Μικροεφαρμογή ενημερώσεων PackageKit
Comment[en_GB]=PackageKit Update Applet
Comment[es]=Miniaplicación de actualización de Packagekit
Comment[fi]=PackageKit-päivityssovelma
Comment[fr]=Applet de mise à jour PackageKit
Comment[gl]=Miniaplicación de actualización do PackageKit
Comment[gu]=PackageKit સુધારો એપલેટ
Comment[he]=יישומון העדכונים של PackageKit
Comment[hi]=PackageKit अद्यतन एप्लेट
Comment[hu]=PackageKit frissítő
Comment[it]=Applet di aggiornamento PackageKit
Comment[ja]=PackageKit 更新アプレット
Comment[kn]=PackageKit ಅಪ್‌ಡೇಟ್ ಆಪ್ಲೆಟ್
Comment[ko]=패키지킷 업데이트 어플릿
Comment[ml]=പാക്കേജ്കിറ്റ് പരിഷ്കരണ ആപ്ലെറ്റ്
Comment[mr]=PackageKit अद्ययावत ऍपलेट
Comment[nb]=Panelprogram for oppdatering med PackageKit
Comment[or]=PackageKit ଅଦ୍ୟତନ ଆପଲେଟ
Comment[pa]=ਪੈਕੇਜ-ਕਿੱਟ ਅੱਪਡੇਟ ਐਪਲਿਟ
Comment[pl]=Aplet aktualizacji PackageKit
Comment[pt]=Applet de Actualização do PackageKit
Comment[pt_BR]=Miniaplicativo de atualização do PackageKit
Comment[ro]=Miniaplicație de actualizare PackageKit
Comment[ru]=Апплет обновлений PackageKit
Comment[sv]=Panelprogram för PackageKit-uppdateringar
Comment[ta]=PackageKit மேம்படுத்தல் ஆப்லெட்
Comment[te]=PackageKit నవీకరణము ఆప్లెట్
Comment[tr]=PackageKit Güncelleme Uygulaması
Comment[uk]=Аплет оновлень PackageKit
Comment[zh_CN]=PackageKit 更新小应用程序
Comment[zh_HK]=PackageKit 更新面板程式
Comment[zh_TW]=PackageKit 更新面板程式
Icon=system-software-update
Exec=gpk-update-icon
Terminal=false
Type=Application
Categories=
NotShowIn=KDE;

X-Desktop-File-Install-Version=0.15
X-GNOME-Autostart-enabled=false
